<label class="badge bg-danger">Hiện tại có 5 sản phẩm</label>
<el-row :gutter="20">
    <el-col :span="6">
        <el-input placeholder="Tìm kiếm..." v-model="search" clearable class="w-100">
        </el-input>
    </el-col>
    <el-col :span="4">
        <el-select v-model="valueActive" filterable placeholder="Chọn thao tác" class="w-100">
            <el-option v-for="item in listData.optionsActive" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
        </el-select>
    </el-col>
    <el-col :span="6">
        <el-button type="success" plain>
            <i class="fas fa-save"></i>
            Xác nhận
        </el-button>
    </el-col>
    <el-col :span="8">
        <div class="btn-group dropdown-split-warning float-right">
            <button type="button" class="btn btn-warning"><i class="fa fa-filter" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split waves-effect waves-light"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Warning</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item waves-effect waves-light" href="#">Sắp xếp mới nhất</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Sắp xếp củ nhất</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Sắp xếp theo chữ cái</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item waves-effect waves-light" href="#">Lọc nâng cao</a>
            </div>
        </div>
    </el-col>
</el-row>